<div class="mat-elevation-z8">
<table
    mat-table
    [dataSource]="items"
    class="mat-elevation-z8"
>
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            Id
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.Id}}
        </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="FirstName">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            FirstName
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.FirstName}}
        </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="LastName">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            LastName
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.LastName}}
        </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            Email
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.Email}}
        </td>
    </ng-container>

    <!-- DateofBirth Column -->
    <ng-container matColumnDef="DateofBirth">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            DateofBirth
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.DateofBirth}}
        </td>
    </ng-container>

    <!-- PhoneNumber Column -->
    <ng-container matColumnDef="PhoneNumber">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            PhoneNumber
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.PhoneNumber}}
        </td>
    </ng-container>

    <!-- RegDate Column -->
    <ng-container matColumnDef="RegDate">
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            RegDate
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element.RegDate}}
        </td>
    </ng-container>

    <tbody>
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </tbody>
</table>

</div>